<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-sucess text-light fixed-top">
        <a class="navbar-brand font-italic"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
            <path fill="#FFFFFF" d="M19 3h-1V1.5a1.5 1.5 0 0 0-3 0V3H9V1.5a1.5 1.5 0 0 0-3 0V3H5c-1.1 0-1.99.9-1.99 2L3 19c0 1.1.89 2 1.99 2H19c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V9h14v10z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
          
          Agenda
          </a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <button class="btn btn-color-main ml-auto" (click)="logOut()">Sair</button>
        </div>
    </nav>
</header>