<div>
  <h4 class="font-weight-bold text-center">REALIZAR AGENDAMENTO</h4>
  <form [formGroup]="agendarForm" (ngSubmit)="agendar()">
    <div class="form-group">
      <label for="data">Data</label>
      <input type="date" class="form-control disabled" id="data" formControlName="data">
    </div>
    <div class="form-group">
      <label for="hora">Hora</label>
      <input type="time" class="form-control disabled" id="hora" formControlName="hora">
    </div>
    <div class="form-group mb-0">
      <label for="titulo">Título</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo" required>
      <small id="tituloHelp" class="form-text text-danger mb-0" [style.visibility]="agendarForm.get('titulo')?.touched && agendarForm.get('titulo')?.invalid ? 'visible' : 'hidden'">
        <p class="mb-0">* Favor digitar um título válido!</p>
      </small>
    </div>
    <div class="form-group mb-0">
      <label for="contato">Contato</label>
      <input type="text" class="form-control" id="contato" formControlName="contato" required>
      <small id="contatoHelp" class="form-text text-danger mb-0" [style.visibility]="agendarForm.get('contato')?.touched && agendarForm.get('contato')?.invalid ? 'visible' : 'hidden'">
        <p class="mb-0">* Favor digitar um contato válido!</p>
      </small>
    </div>
    <div class="form-group">
      <label for="observacao">Observação</label>
      <textarea class="form-control" id="observacao" formControlName="observacao"></textarea>
      <small id="observacaoHelp" class="form-text text-danger mb-0" [style.visibility]="agendarForm.get('observacao')?.touched && agendarForm.get('observacao')?.invalid ? 'visible' : 'hidden'">
        <p class="mb-0">* Favor escrever uma observação sobre o agendamento!</p>
      </small>
    </div>
    <button type="submit" class="btn btn-color-main btn-block font-weight-bold mt-1 rounded shadow">AGENDAR</button>
  </form>
</div>
