<h4 class="font-weight-bold text-center">INFORMAÇÕES AGENDAMENTO</h4>
<form [formGroup]="agendaForm">
  <div class="form-group mb-0">
    <label for="data">Data</label>
    <input type="date" class="form-control disabled" id="data" formControlName="data" />
  </div>
  <div class="form-group mb-0">
    <label for="hora">Hora</label>
    <input type="time" class="form-control disabled" id="hora" formControlName="hora" />
  </div>
  <div class="form-group mb-0">
    <label for="titulo">Título</label>
    <input type="text" class="form-control disabled" id="titulo" formControlName="titulo" required />
  </div>
  <div class="form-group mb-0">
    <label for="contato">Contato</label>
    <input type="text" class="form-control disabled" id="contato" formControlName="contato" required />
  </div>
  <div class="container col-12 p-0">
    <label for="inicioAtendimento">Início</label>
    <div class="form-group mb-0 row">
      <div class="col">
        <input type="time" class="form-control disabled" id="inicioAtendimento" formControlName="inicioAtendimento" *ngIf="(agendaForm.get('inicioAtendimento')?.value === '00:00:00') || ((agendaForm.get('inicioAtendimento')?.value !== '00:00:00') && (agendaForm.get('fimAtendimento')?.value === '00:00:00'))"/>

        <input type="time" class="form-control disabled" id="inicioAtendimento" formControlName="inicioAtendimento" *ngIf="(agendaForm.get('inicioAtendimento')?.value !== '00:00:00') && (agendaForm.get('fimAtendimento')?.value !== '00:00:00')"/>
      </div>
      <div class="col" *ngIf="(agendaForm.get('inicioAtendimento')?.value === '00:00:00') && (agendaForm.get('fimAtendimento')?.value === '00:00:00')">
        <button class="btn btn-primary btn-block font-weight-bold rounded shadow" (click)="iniciarAtendimento()">
          INICIAR
        </button>
      </div>

    </div>
    <label for="fimAtendimento">Fim</label>
    <div class="form-group mb-0 row">
      <div class="col">

        <input type="time" class="form-control disabled"  id="fimAtendimento" formControlName="fimAtendimento"  *ngIf="(agendaForm.get('inicioAtendimento')?.value !== '00:00:00') && (agendaForm.get('fimAtendimento')?.value === '00:00:00')"/>

        <input type="time" class="form-control disabled" id="fimAtendimento" formControlName="fimAtendimento"  *ngIf="(agendaForm.get('inicioAtendimento')?.value !== '00:00:00') && (agendaForm.get('fimAtendimento')?.value !== '00:00:00')"/>
        <small id="hoursHelp" class="form-text text-danger mb-0" [style.visibility]="!isValid(agendaForm.get('inicioAtendimento')?.value, agendaForm.get('fimAtendimento')?.value) ? 'visible' : 'hidden'"  *ngIf="(agendaForm.get('inicioAtendimento')?.value !== '00:00:00') && (agendaForm.get('fimAtendimento')?.value !== '00:00:00')">
          <p class="mb-0">* O horário fim deve ser posterior ao de início!</p>
        </small>

      </div>
      <div class="col" *ngIf="agendaForm.get('inicioAtendimento')?.value !== '00:00:00' && (agendaForm.get('fimAtendimento')?.value === '00:00:00')">
        <button class="btn btn-danger btn-block font-weight-bold rounded shadow" (click)="finalizarAtendimento()" >
          FINALIZAR
        </button>
      </div>
    </div>
    </div>

  <div class="form-group mb-0">
    <label for="observacao">Observação</label>
    <textarea class="form-control disabled" id="observacao" formControlName="observacao"></textarea>
  </div>
  <button type="submit" class="btn btn-color-main btn-block font-weight-bold mt-4 rounded shadow"
    (click)="reagendarModal(this.formData)">
    ATUALIZAR / REAGENDAR
  </button>
  <button type="submit" class="btn btn-danger btn-block font-weight-bold mt-1 rounded shadow"
    (click)="desagendar(data.dados.id)">
    DESAGENDAR
  </button>
</form>
