<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-ember text-light fixed-top"
  >
    <a class="navbar-brand">Brand</a>
    <button
      class="navbar-toggler"
      data-target="#my-nav"
      data-toggle="collapse"
      aria-controls="my-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Item 1 <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Item 2</a
          >
        </li>
      </ul>
      <button class="btn btn-light ml-auto" (click)="logOut()">Sair</button>
    </div>
  </nav>
</header>

<main style="height: 100vh; display: flex; align-items: center">
  <div class="card shadow container">
    <div class="card-body">
      <div class="align-items-center">
        <!-- Número 14 -->
        <div class="text-center">
          <h1 class="font-weight-bold mb-0">14</h1>
        </div>
        <!-- Linha -->
        <div class="row">
          <div class="col">
            <hr class="w-25 my-2 bg-ember" />
          </div>
        </div>
        <!-- Dia da semana -->
        <div class="text-center">
          <p class="font-weight-bold mb-0" style="font-size: 14px">
            Segunda-feira
          </p>
        </div>

        <div class="d-flex justify-content-center">
          <div id="datePickerContainer" class="mt-4 mb-4">
            <label for="datePicker" class="mb-0 text-center"
              >Selecione uma data:</label
            >
            <input
              type="date"
              id="datePicker"
              class="form-control text-center"
              placeholder="dd/mm/aaaa"
            />
          </div>
        </div>
        <hr class="w-100 my-2 bg-secondary" />
        <!-- Horários dentro do card -->
        <div class="scrolling">
          <div class="row">
            <div class="col-md-2 order-md-1 order-1 mb-3 mb-md-0"><button type="button" class="btn btn-ember btn-lg btn-block shadow">24:00</button></div>
            <div class="col-md-10 order-md-2 order-2 p-0 container"  style="font-size: 13px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt rerum magnam tempore aspernatur, labore illo, similique minus laborum nobis tempora porro fugit dignissimos sapiente doloribus dolore sit dolorem obcaecati autem.</div>
          </div>
        </div>

      </div>
      <hr class="w-100 my-2 bg-secondary" />
    </div>
  </div>
</main>
