<div *ngIf="data.referencia === 'adicionar'">
  <app-agendar-modal
    [data]="data"
    [closedModal]="fecharModal"
  ></app-agendar-modal>
</div>
<div *ngIf="data.referencia === 'agenda'">
  <app-agenda-modal
    [data]="data"
    [closedModal]="fecharModal"
  ></app-agenda-modal>
</div>
<div *ngIf="data.referencia === 'reagendar'">
  <app-reagendar-modal
    [data]="data"
    [closedModal]="fecharModal"
  ></app-reagendar-modal>
</div>
<div *ngIf="data.referencia === 'desagendar'">
  <app-desagendar-modal
    [data]="data"
    [closedModal]="fecharModal"
  ></app-desagendar-modal>
</div>
<button
  type="submit"
  class="btn btn-outline-primary btn-block font-weight-bold mt-1 rounded shadow"
  (click)="fecharModal()"
>
  FECHAR
</button>
