@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Variaveis */
$ember: #ff9900;
$ember-hover: #cc6600;
$ember-focus: rgba(255, 153, 0, 0.5);
$ember-disabled: #ffc266;
$lightgrey: rgba(200, 200, 200, 0.795);

.form-text {
  font-style: italic;
}

.bg-ember {
  background-color: $ember;
}

.navbar-ember {
  color: aliceblue;
  background-color: $ember;
}

/* Estilos do Botão */
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-ember {
  color: aliceblue;
  background-color: $ember;
  border-color: $ember;
}

.btn-ember:hover {
  background-color: $ember-hover;
  border-color: $ember-hover;
}

.btn-ember:focus,
.btn-ember.focus {
  box-shadow: 0 0 0 0.2rem $ember-focus;
}

.btn-ember.disabled,
.btn-ember:disabled {
  background-color: $ember-disabled;
  border-color: $ember-disabled;
}

/* Estilos tooltip */
.tooltip-inner {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
}

.arrow::before {
  border-top-color: #333;
}

.bg-lightgrey {
  background-color: $lightgrey;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
